﻿@using Bunny.Web
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Bunny</title>

    <script type="text/javascript" src="~/vendor/breakpoints/breakpoints.min.js"></script>
    <script type="text/javascript">
        Breakpoints();
    </script>


    @{
        await Html.RenderPartialAsync("~/Areas/Web/Views/Shared/Asset/_Style.cshtml").ConfigureAwait(true);
    }
    <link rel="stylesheet" href="~/Assets/Style/Global.css" />

    <!-- JS -->
    <!-- jquery js -->
    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-validation/additional-methods.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-validation/jquery.unobtrusive-ajax.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- datatable js -->
    @*<script type="text/javascript" charset="utf8" src="~/Assets/client-side/plugin/datatables/jquery.dataTables.min.js"></script>*@
    @*<script type="text/javascript" charset="utf8" src="~/Assets/client-side/plugin/datatables/dataTables.responsive.js"></script>
        <script type="text/javascript" src="~/Assets/client-side/plugin/jquery-ui/jquery-ui.js"></script>*@
    <!-- DataTable -->
    <script type="text/javascript" src="~/vendor/datatables.net/jquery.dataTables.js"></script>
        <script type="text/javascript" src="~/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <!-- DataTable - Column Filter -->
    <script type="text/javascript" src="~/vendor/datatables-columnfilter/jquery.dataTables.columnFilter.min.js"></script>

    <!-- DataTable - ColVis -->
    <script type="text/javascript" src="~/vendor/datatables-colvis/dataTables.colVis.min.js"></script>

    <!-- DataTable - Other Plugin -->
    <script type="text/javascript" src="~/vendor/datatables.net-fixedheader-bs4/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedColumns.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-rowgroup-bs4/dataTables.rowGroup.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-scroller-bs4/dataTables.scroller.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-select-bs4/dataTables.select.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons/buttons.html5.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons/buttons.flash.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons/buttons.print.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons/buttons.colVis.js"></script>
    <script type="text/javascript" src="~/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap-sweetalert/sweetalert.min.js"></script>

    <!-- global js -->
    <script src="~/Assets/Script/Global/Components/Sidebar.js"></script>
    <script src="~/js/Bunny.js"></script>
</head>
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var isAdminPortal = controllerName == "masterpage" || controllerName == "user";
}
<body>
    <div id="page_container">
        <!-- Header -->
        @await Component.InvokeAsync("Header", isAdminPortal)
        <!-- end header -->
        @if (isAdminPortal)
        {
            <div id="wrapper" class="active">

                <!-- Sidebar -->
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul id="sidebar_menu" class="sidebar-nav">
                        <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                    </ul>
                    <ul class="sidebar-nav" id="sidebar">
                        <li><a class="side-menu-item-content" href="@Url.Action("Index", "User")">User<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a class="side-menu-item-content" href="@Url.Action("Index", "Home")">Home<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                    </ul>
                </div>

                <!-- Page content -->
                <div id="page-content-wrapper">
                    <!-- Keep all page content within the page-content inset div! -->
                    <div class="page-content inset">
                        @RenderBody()
                    </div>
                </div>

            </div>
        }
        else
        {
            @RenderBody()
        }

        <!-- Footer -->
        @*@Html.Partial("_Footer.cshtml")*@
        <!-- End Footer -->
        @{
            await Html.RenderPartialAsync("~/Areas/Web/Views/Shared/Asset/_BottomScript.cshtml").ConfigureAwait(true);
    }
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
