﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Bunny.DataTable.Constants
@using Bunny.DataTable.Models.Config
@using Bunny.DataTable.Utils.Extensions
@using Bunny.Web
@model DataTableModel

<script type="text/javascript">
    $(function() {
        var $table = $('#@Model.Id');
        @{
            var options = new JObject
            {
                [PropertyConst.Sorting] = new JRaw(Model.GetColumnSortingString()),
                [PropertyConst.IsProcessing] = true,
                [PropertyConst.IsServerSide] = true,
                [PropertyConst.IsFilter] = Model.IsShowGlobalSearchInput,
                [PropertyConst.Dom] = Model.Dom,
                [PropertyConst.IsResponsive] = Model.IsResponsive,
                [PropertyConst.IsAutoWidth] = Model.IsAutoWidthColumn,
                [PropertyConst.AjaxSource] = Model.AjaxUrl,
                [PropertyConst.ColumnDefine] = new JRaw(Model.GetColumnsJsonString()),
                [PropertyConst.SearchCols] = Model.GetSearchColumns(),
                [PropertyConst.DeferRender] = Model.IsDeferRender,
                [PropertyConst.LengthMenuDefine] = Model.LengthMenu != null ? new JRaw(Model.LengthMenu) : new JRaw(string.Empty),
                [PropertyConst.Language] = new JObject
                {
                    [PropertyConst.SearchSelector] = "_INPUT_",
                    [PropertyConst.LengthMenuSelector] = "_MENU_",
                    [PropertyConst.SearchPlaceholder] = "Search...",
                }
            };

            // Default Size
            if (Model.PageSize.HasValue)
            {
                options[PropertyConst.DisplayLength] = Model.PageSize;
            }

            // Language Code
            if (!string.IsNullOrWhiteSpace(Model.LanguageCode))
            {
                options[PropertyConst.LanguageCode] = new JRaw(Model.LanguageCode);
            }

            // Draw Call back function
            if (!string.IsNullOrWhiteSpace(Model.DrawCallbackFunctionName))
            {
                options[PropertyConst.FnDrawCallback] = new JRaw(Model.DrawCallbackFunctionName);
            }

            // Server Request
            options[PropertyConst.FnServerData] = new JRaw(
                "function(sSource, aoData, fnCallback) { "
                + (Model.IsDevelopMode ? "    console.log('[DataTable] URL: ', sSource);" : string.Empty)
                + (Model.IsDevelopMode ? "    console.log('[DataTable] Request: ', aoData);" : string.Empty)
                + "    var ajaxOptions = { 'dataType': 'json', 'type': 'POST', 'url': sSource, 'data': aoData, 'success': fnCallback};"
                + (Model.IsDevelopMode ? "ajaxOptions['success'] = function(data){"
                                              + "    console.log('[DataTable] Response', data);"
                                              + "    if(fnCallback && typeof fnCallback === 'function'){"
                                              + "        fnCallback(data)"
                                              + "    }"
                                              + "};"
                                       : string.Empty)
                + (string.IsNullOrWhiteSpace(Model.BeforeSendFunctionName) ? string.Empty : $"{Model.BeforeSendFunctionName}(aoData);")
                + (string.IsNullOrWhiteSpace(Model.AjaxErrorHandler) ? string.Empty : "ajaxOptions['error'] = " + Model.AjaxErrorHandler + "; ")
                + "    $.ajax(ajaxOptions);" +
                "}");

            // Tools
            if (Model.IsUseTableTools)
            {
                options[PropertyConst.TableTools] = new JRaw("{ 'sSwfPath': '" + Url.AbsoluteContent("~/portal/vendor/datatables-tabletools/swf/copy_csv_xls_pdf.swf") + "' }");

                var tools = Model.IsEnableColVis ? "{extend: 'colvis', text: 'Columns'}," : string.Empty;
                //tools += "'copy', 'excel', 'csv', 'pdf', 'print'";

                options[PropertyConst.Buttons] = new JRaw($"[{tools}]");
            }

            // Additional Option
            if (Model.AdditionalOptions.Any())
            {
                foreach (var jsOption in Model.AdditionalOptions)
                {
                    options[jsOption.Key] = new JRaw(jsOption.Value);
                }
            }
        }

        var dataTableOptions = @Html.Raw(options.ToString(Formatting.Indented));

        @if (Model.IsDevelopMode)
        {
            <text>
                console.log('[DataTable] Config', dataTableOptions);
            </text>
        }

        var $dataTable = $table.dataTable(dataTableOptions);

        // Col filters
        @if (Model.IsUseColumnFilter)
        {
            <text>
                $dataTable.columnFilter(@Html.Raw(Model.ColumnFilter));
            </text>
        }

        // Responsive Resize Callback
        @if (Model.IsResponsive && !string.IsNullOrWhiteSpace(Model.ResponsiveResizeCallbackFunctionName))
        {
            <text>
                $dataTable.api().on('responsive-resize',
                    function(e, datatable, columns) {
                        @Html.Raw($"{Model.ResponsiveResizeCallbackFunctionName}(e, datatable, columns);")
                    });
            </text>
        }

        // Global Variable
        @if (!string.IsNullOrWhiteSpace(Model.GlobalJsVariableName))
        {
            <text>
                window['@Model.GlobalJsVariableName'] = $dataTable;
            </text>
        }
    });
</script>