﻿@charset "utf-8";
/**
 * Mfglabs iconset
 * Created by MfgLabs
 * https://github.com/MfgLabs/mfglabs-iconset
 * CC BY-SA License
 */
@font-face {
  font-family: "Mfglabs iconset";
  font-style: normal;
  font-weight: normal;
  src: url("./mfglabs.eot?v=");
  src: url("./mfglabs.eot?#iefix&v=") format("embedded-opentype"), url("./mfglabs.woff?v=") format("woff"), url("./mfglabs.ttf?v=") format("truetype"), url("./mfglabs.svg?v=#mfglabs") format("svg");
}

[class^="ml-"], [class*=" ml-"] {
  position: relative;
  display: inline-block;
  font-family: "Mfglabs iconset";
  font-style: normal;
  font-weight: normal;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-cloud:before {
  content: "☁";
}

.ml-at:before {
  content: "@";
}

.ml-plus:before {
  content: "+";
}

.ml-minus:before {
  content: "−";
}

.ml-arrow-up:before {
  content: "↑";
}

.ml-arrow-down:before {
  content: "↓";
}

.ml-arrow-right:before {
  content: "→";
}

.ml-arrow-left:before {
  content: "←";
}

.ml-chevron-down:before {
  content: "";
}

.ml-chevron-up:before {
  content: "";
}

.ml-chevron-right:before {
  content: "";
}

.ml-chevron-left:before {
  content: "";
}

.ml-reorder:before {
  content: "";
}

.ml-list:before {
  content: "";
}

.ml-reorder-square:before {
  content: "";
}

.ml-reorder-square-line:before {
  content: "";
}

.ml-coverflow:before {
  content: "";
}

.ml-coverflow-line:before {
  content: "";
}

.ml-pause:before {
  content: "";
}

.ml-play:before {
  content: "";
}

.ml-step-forward:before {
  content: "";
}

.ml-step-backward:before {
  content: "";
}

.ml-fast-forward:before {
  content: "";
}

.ml-fast-backward:before {
  content: "";
}

.ml-cloud-upload:before {
  content: "";
}

.ml-cloud-download:before {
  content: "";
}

.ml-data-science:before {
  content: "";
}

.ml-data-science-black:before {
  content: "";
}

.ml-globe:before {
  content: "";
}

.ml-globe-black:before {
  content: "";
}

.ml-math-ico:before {
  content: "";
}

.ml-math:before {
  content: "";
}

.ml-math-black:before {
  content: "";
}

.ml-paperplane-ico:before {
  content: "";
}

.ml-paperplane:before {
  content: "";
}

.ml-paperplane-black:before {
  content: "";
}

.ml-color-balance:before {
  content: "";
}

.ml-star:before {
  content: "★";
}

.ml-star-half:before {
  content: "";
}

.ml-star-empty:before {
  content: "☆";
}

.ml-star-half-empty:before {
  content: "";
}

.ml-reload:before {
  content: "";
}

.ml-heart:before {
  content: "♥";
}

.ml-heart-broken:before {
  content: "";
}

.ml-hashtag:before {
  content: "";
}

.ml-reply:before {
  content: "";
}

.ml-retweet:before {
  content: "";
}

.ml-signin:before {
  content: "";
}

.ml-signout:before {
  content: "";
}

.ml-download:before {
  content: "";
}

.ml-upload:before {
  content: "";
}

.ml-placepin:before {
  content: "";
}

.ml-display-screen:before {
  content: "";
}

.ml-tablet:before {
  content: "";
}

.ml-smartphone:before {
  content: "";
}

.ml-connected-object:before {
  content: "";
}

.ml-lock:before {
  content: "";
}

.ml-unlock:before {
  content: "";
}

.ml-camera:before {
  content: "";
}

.ml-isight:before {
  content: "";
}

.ml-video-camera:before {
  content: "";
}

.ml-random:before {
  content: "";
}

.ml-message:before {
  content: "";
}

.ml-discussion:before {
  content: "";
}

.ml-calendar:before {
  content: "";
}

.ml-ringbell:before {
  content: "";
}

.ml-movie:before {
  content: "";
}

.ml-mail:before {
  content: "✉";
}

.ml-pen:before {
  content: "✏";
}

.ml-settings:before {
  content: "颁";
}

.ml-measure:before {
  content: "";
}

.ml-vector:before {
  content: "";
}

.ml-vector-pen:before {
  content: "✒";
}

.ml-mute-on:before {
  content: "";
}

.ml-mute-off:before {
  content: "";
}

.ml-home:before {
  content: "⌂";
}

.ml-sheet:before {
  content: "";
}

.ml-arrow-big-right:before {
  content: "⇉";
}

.ml-arrow-big-left:before {
  content: "⇇";
}

.ml-arrow-big-down:before {
  content: "⇊";
}

.ml-arrow-big-up:before {
  content: "⇈";
}

.ml-dribbble-circle:before {
  content: "";
}

.ml-dribbble:before {
  content: "";
}

.ml-facebook-circle:before {
  content: "";
}

.ml-facebook:before {
  content: "";
}

.ml-git-circle-alt:before {
  content: "";
}

.ml-git-circle:before {
  content: "";
}

.ml-git:before {
  content: "";
}

.ml-octopus:before {
  content: "";
}

.ml-twitter-circle:before {
  content: "";
}

.ml-twitter:before {
  content: "";
}

.ml-google-plus-circle:before {
  content: "";
}

.ml-google-plus:before {
  content: "";
}

.ml-linked-in-circle:before {
  content: "";
}

.ml-linked-in:before {
  content: "";
}

.ml-instagram:before {
  content: "";
}

.ml-instagram-circle:before {
  content: "";
}

.ml-mfg-icon:before {
  content: "";
}

.ml-xing:before {
  content: "";
}

.ml-xing-circle:before {
  content: "";
}

.ml-mfg-icon-circle:before {
  content: "";
}

.ml-user:before {
  content: "";
}

.ml-user-male:before {
  content: "";
}

.ml-user-female:before {
  content: "";
}

.ml-users:before {
  content: "";
}

.ml-file-open:before {
  content: "";
}

.ml-file-close:before {
  content: "";
}

.ml-file-alt:before {
  content: "";
}

.ml-file-close-alt:before {
  content: "";
}

.ml-attachment:before {
  content: "";
}

.ml-check:before {
  content: "✓";
}

.ml-cross-mark:before {
  content: "❌";
}

.ml-cancel-circle:before {
  content: "";
}

.ml-check-circle:before {
  content: "";
}

.ml-magnifying:before {
  content: "";
}

.ml-inbox:before {
  content: "";
}

.ml-clock:before {
  content: "⏲";
}

.ml-stopwatch:before {
  content: "⏱";
}

.ml-hourglass:before {
  content: "⌛";
}

.ml-trophy:before {
  content: "";
}

.ml-unlock-alt:before {
  content: "";
}

.ml-lock-alt:before {
  content: "";
}

.ml-arrow-doubled-right:before {
  content: "⇒";
}

.ml-arrow-doubled-left:before {
  content: "⇐";
}

.ml-arrow-doubled-down:before {
  content: "⇓";
}

.ml-arrow-doubled-up:before {
  content: "⇑";
}

.ml-link:before {
  content: "";
}

.ml-warning:before {
  content: "❗";
}

.ml-warning-alt:before {
  content: "❕";
}

.ml-magnifying-plus:before {
  content: "";
}

.ml-magnifying-minus:before {
  content: "";
}

.ml-white-question:before {
  content: "❔";
}

.ml-black-question:before {
  content: "❓";
}

.ml-stop:before {
  content: "";
}

.ml-share:before {
  content: "";
}

.ml-eye:before {
  content: "";
}

.ml-trash-can:before {
  content: "";
}

.ml-hard-drive:before {
  content: "";
}

.ml-information-black:before {
  content: "";
}

.ml-information-white:before {
  content: "";
}

.ml-printer:before {
  content: "";
}

.ml-letter:before {
  content: "";
}

.ml-soundcloud:before {
  content: "";
}

.ml-soundcloud-circle:before {
  content: "";
}

.ml-anchor:before {
  content: "⚓";
}

.ml-female-sign:before {
  content: "♀";
}

.ml-male-sign:before {
  content: "♂";
}

.ml-joystick:before {
  content: "";
}

.ml-high-voltage:before {
  content: "⚡";
}

.ml-fire:before {
  content: "";
}

.ml-newspaper:before {
  content: "";
}

.ml-chart:before {
  content: "";
}

.ml-spread:before {
  content: "";
}

.ml-spinner-1:before {
  content: "";
}

.ml-spinner-2:before {
  content: "";
}

.ml-chart-alt:before {
  content: "";
}

.ml-label:before {
  content: "";
}

.ml-brush:before {
  content: "";
}

.ml-refresh:before {
  content: "";
}

.ml-node:before {
  content: "";
}

.ml-node-2:before {
  content: "";
}

.ml-node-3:before {
  content: "";
}

.ml-link-2-nodes:before {
  content: "";
}

.ml-link-3-nodes:before {
  content: "";
}

.ml-link-loop-nodes:before {
  content: "";
}

.ml-node-size:before {
  content: "";
}

.ml-node-color:before {
  content: "";
}

.ml-layout-directed:before {
  content: "";
}

.ml-layout-radial:before {
  content: "";
}

.ml-layout-hierarchical:before {
  content: "";
}

.ml-node-link-direction:before {
  content: "";
}

.ml-node-link-short-path:before {
  content: "";
}

.ml-node-cluster:before {
  content: "";
}

.ml-display-graph:before {
  content: "";
}

.ml-node-link-weight:before {
  content: "";
}

.ml-more-node-links:before {
  content: "";
}

.ml-node-shape:before {
  content: "";
}

.ml-node-icon:before {
  content: "";
}

.ml-node-text:before {
  content: "";
}

.ml-node-link-text:before {
  content: "";
}

.ml-node-link-color:before {
  content: "";
}

.ml-node-link-shape:before {
  content: "";
}

.ml-credit-card:before {
  content: "";
}

.ml-disconnect:before {
  content: "";
}

.ml-graph:before {
  content: "";
}

.ml-new-user:before {
  content: "";
}