﻿@model Bunny.Model.User.UserHeaderViewModel
@{
    var fullName = Model.LastName + " " + Model.FirstName;
    var currentUserId = Model.Id;
    var isAdminBoard = Model.IsAdminPortal;
}
<script type="text/javascript">
    const urlHeader = {
        logout: '@Url.Action("Logout", "MasterPage")',
        home: '@Url.Action("Index", "MasterPage")'
    }
    var configsHeader = {
        urls: {
            logout: urlHeader.logout,
            home: urlHeader.home,
        },
        logoutBtn: "#btn-logout",
    };
    function initHeader() {
        $(configsHeader.logoutBtn).on('click', function() {
            console.log("logout userid = ", $("#current-user-id").text());
            $.ajax({
                url: configsHeader.urls.logout + "/?id=" + JSON.parse(`"${$("#current-user-id").text()}"`),
                type: 'Get',
                success: function (result) {
                    window.location.href = configsHeader.urls.home;
                },
                error: function (result) {
                    console.log("error", result);
                }
            });
        });
    }
    $(document).ready(function () {
        initHeader();
    });
</script>
<div class="page-header">
    <div class="hidden" id="current-user-id">@currentUserId</div>
    <div class="menu">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a href="#">Bootsnipp</a>*@
            </div>
            @*<div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>*@
            <div style="height: 100%">
                <div class="dropdown-toggle user-information" data-toggle="dropdown">
                    <span>
                        <img alt="Avatar" title="Avatar" class="avatar user-avatar-container" src="~/images/global/user.png">
                    </span>
                    @*<span>@Model</span>*@
                    <span>@fullName</span>
                    @*<div class="user-name"></div>*@
                    @*<span class="caret"></span>*@
                </div>
                <ul class="dropdown-menu dropdown-menu-right">
                    @if (@isAdminBoard)
                    {
                        <li><a href="@Url.Action("Index", "DashBoard")">
                            <div><span>Dashboard</span></div></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "User")">
                            <div><span>Admin Board</span></div></a></li>
                    }
                    <li>
                        <a href="@Url.Action("Logout", "MasterPage")">
                            <div><span>Logout</span></div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>