﻿@using Bunny
@using Bunny.Extensions
@using Bunny.Web
@using Bunny.Web.Extensions
@using EnumsNET
<!-- Plugins -->
<script type="text/javascript" src="~/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="~/vendor/switchery/switchery.min.js"></script>
<script type="text/javascript" src="~/vendor/intro-js/intro.min.js"></script>
<script type="text/javascript" src="~/vendor/ladda/spin.min.js"></script>
<script type="text/javascript" src="~/vendor/ladda/ladda.min.js"></script>
<script type="text/javascript" src="~/vendor/screenfull/screenfull.min.js"></script>
<script type="text/javascript" src="~/vendor/slidepanel/jquery-slidePanel.min.js"></script>
<script type="text/javascript" src="~/vendor/toastr/toastr.min.js"></script>
<script type="text/javascript" src="~/vendor/summernote/summernote.min.js"></script>


<script type="text/javascript">
    (function(document, window, $) {
        'use strict';
        $(document).ready(function() {
            @{
                var notifyData = TempData.Get<NotifyResultViewModel>(Constants.TempDataKey.Notify);
                TempData.Remove(Constants.TempDataKey.Notify);

                if (notifyData != null)
                {
                    string type = notifyData.Status.AsString(EnumFormat.DisplayName);
                    @Html.Raw($"window.Bunny.notify('{notifyData.Title}', '{notifyData.Message}', '{type}');")
                }
            }

            //window.Site.run();
        });
    })(document, window, jQuery);
</script>