﻿@using Bunny.Web
<!-- CSS Style -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
@*<link rel="stylesheet" type="text/css" href="~/Assets/client-side/plugin/datatables/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client-side/plugin/datatables/responsive.dataTables.css">*@
<!-- DataTable -->
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-bs4/dataTables.bootstrap4.min.css">

<!-- DataTable - Other Plugin -->
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.min.css">

<!-- Font stylesheets -->
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/material-design/material-design.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/brand-icons/brand-icons.min.css">

<!-- Necessary plugin stylesheets -->
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/animsition.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/asscrollable/asScrollable.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/switchery/switchery.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/slidepanel/slidePanel.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/flag-icon-css/flag-icon.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/waves/waves.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/toastr/toastr.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/jquery-mmenu/jquery-mmenu.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor//bootstrap-sweetalert/sweetalert.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/summernote/summernote.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/summernote/summernote-lite.css">