﻿@model Bunny.Model.User.UserLoginModel
@{
    ViewBag.Title = "Master Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Scripts{
    <link href="~/Assets/Style/MasterPage.css" rel="stylesheet" />
    @*<script src="~/Assets/Script/Page/MasterPage/Index.js"></script>*@
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

    <div id="login-box">
        <div class="login-center">


            @*<input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retype password" />

                <input type="submit" name="signup_submit" value="Sign me up" />*@
            <form method="post" asp-controller="MasterPage" asp-action="Login" enctype="multipart/form-data" asp-antiforgery="true" role="form">
                <h1 class="login-title">USER LOGIN</h1>
                <div class="div-login-logo">
                    <img class="login-logo logo" src="~/images/Login/login-logo-user.png" alt="logo">
                </div>
                @*<div>*@
                <div style="height: 32px">
                    <label class="login-label">User Name</label>
                </div>
                <div>
                    @*<input class="login-input" id="input-user-login" type="text" name="UserName" placeholder="Username">*@
                    <input asp-for="UserName" class="form-control login-input" placeholder="Username"/>
                    <span asp-validation-for="UserName"></span>
                    @*@Html.ValidationMessageFor(m => m.UserName)*@
                </div>

                @*</div>*@
                @*<div>*@
                <div style="height: 32px">
                    <label class="login-label">Password</label>
                </div>
                <div>
                    @*<input class="login-input" id="input-password" type="password" name="PassWord" placeholder="Password">*@
                    <input type="password" asp-for="Password" class="form-control login-input" placeholder="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>

                @*</div>*@
                @*@if (messageLogin != null)
                {
                    <div class="error-login">
                        @messageLogin.ToString()
                    </div>
                }*@
                <div>
                    <input class="login-button" id="login-master-page" type="submit" name="login" value="Log In">
                </div>


            </form>


        </div>

        @*<div class="right">
                <span class="loginwith">Sign in with<br />social network</span>

                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>*@
        @*<div class="or">OR</div>*@
    </div>
</body>
</html>