﻿
.hsidebar #menu-toggle * {
    transition: .125s ease-in-out;
    box-sizing: border-box;
}

.hsidebar #menu-toggle span {
    display: block;
    background:  #FFF;
    border-radius: 2px;
}

#menu-toggle {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.6;
    transition: opacity 0.2s
}

    #menu-toggle:hover {
        opacity: 1
    }

    #menu-toggle #hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        
    }

        #menu-toggle #hamburger span {
            width: 100%;
            height: 2px;
            position: relative;
            margin: 6px 0;
        }

            #menu-toggle #hamburger span:nth-child(1) {
                transition-delay: .5s;
            }

            #menu-toggle #hamburger span:nth-child(2) {
                transition-delay: .625s;
            }

            #menu-toggle #hamburger span:nth-child(3) {
                transition-delay: .75s;
            }

    #menu-toggle #cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
    }

        #menu-toggle #cross span {
        }

            #menu-toggle #cross span:nth-child(1) {
                height: 0%;
                width: 2px;
                position: absolute;
                top: 0;
                left: 11px;
                transition-delay: 0s;
            }

            #menu-toggle #cross span:nth-child(2) {
                width: 0%;
                height: 2px;
                position: absolute;
                top: 11px;
                left: 0;
                transition-delay: .25s;
            }


    #menu-toggle.open #hamburger {
    }

        #menu-toggle.open #hamburger span {
            width: 0%;
        }

            #menu-toggle.open #hamburger span:nth-child(1) {
                transition-delay: 0s;
            }

            #menu-toggle.open #hamburger span:nth-child(2) {
                transition-delay: .125s;
            }

            #menu-toggle.open #hamburger span:nth-child(3) {
                transition-delay: .25s;
            }

    #menu-toggle.open #cross {
    }

        #menu-toggle.open #cross span {
        }

            #menu-toggle.open #cross span:nth-child(1) {
                height: 100%;
                transition-delay: .625s;
            }

            #menu-toggle.open #cross span:nth-child(2) {
                width: 100%;
                transition-delay: .375s;
            }