﻿@import url('hsidebar.css');

html {
    font-size: 1rem;
}

body {
    background-color: #f7f7f7;
    font-family: Poppins !important;
}



/* Login Session*/
.login-form-containter {
}

.login-form {
    padding-top: 70px;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .login-form form {
        margin-bottom: 50px
    }

.login-top-img {
    width: 100%;
    padding: 60px;
    padding-left: 0;
}

.login-instruction {
    margin-bottom: 40px;
}

    .login-instruction .login-instruction-top {
        line-height: 1;
    }

    .login-instruction .login-instruction-bottom {
    }

.login-error {
    color: #FF163C;
    font-size: 18px;
}

.login-email {
}

    .login-email .email {
    }

.login-password .password {
}

.login-forgot-password {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: bold;
}

.login-form-submit-button {
}

.login-form-submit-icon {
}

.login-form-signin {
    margin-top: 30px;
}

.login-right-info-containter {
    padding: 0;
}

.login-right-info {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.login-back-img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -25%;
    min-width: 100%;
    height: 100%;
}

.login-back-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.login-back-text-content {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 200px;
    line-height: 1.2;
    width: 540px;
}

.login-back-text-content-sub {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}
/* Login Session*/

/* Header Session */
.header-container {
    background-color: #009A44;
    height: 70px;
}

.btn-hardie,
.btn.btn-hardie {
    background-color: #009A44 !important;
    color: white !important;
    border-radius: 5px !important;
}

.btn-hardie-light,
.btn.btn-hardie-light {
    background-color: #fff !important;
    color: #000 !important;
    border: solid 1px #dcdcdc;
    border-radius: 5px !important;
}

.header-inner {
    height: 100%;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}

    .logo-container a {
        display: inline-block;
    }

    .logo-container .logo {
        height: 40px;
    }

.user-info-container {
    float: right;
    height: 100%;
    padding-right: 20px;
}

.user-info {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-avatar-container {
    height: 40px;
    border-radius: 100% !important;
    overflow: hidden;
}

    .user-avatar-container .avatar {
        height: 100%;
        margin: 0;
    }

.user-name-container {
    margin-left: 10px;
}

    .user-name-container .username {
        color: #fff;
        font-size: 18px;
    }
/* Header Session */

/* Home Session*/
.function-container {
    padding: 20px;
}

.function {
    padding: 20px 35px;
    border: solid 1px #E9E9E9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: block;
    text-decoration: none;
    overflow: hidden
}

    .function:focus,
    .function:hover {
        text-decoration: none;
    }

.function-container .icon {
    height: 35px;
    margin-bottom: 10px;
}

    .function-container .icon img {
        height: 100%;
    }

.function-container .title {
    font-weight: bold;
    font-size: 22px;
}

.function-container .sub-title {
    color: #ccc;
}

.function-container .icon-layer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: 0.8;
}

    .function-container .icon-layer img {
        height: 100%;
        max-width: 250px;
        float: right;
    }

.power2motived .icon-layer {
}

.news-container {
    margin: 20px;
    border: solid 1px #E9E9E9;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.news-header {
    height: 70px;
    overflow: hidden;
    background-color: #009a44;
    display: flex;
    align-items: center;
}

.news-header-icon {
    height: 100%;
    padding: 20px 10px 20px 30px;
}

    .news-header-icon img {
        height: 100%
    }

.news-header-title {
    flex: 1;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.news-header-view-all {
    padding-right: 20px;
}

    .news-header-view-all a {
        text-decoration: none;
        color: #fff;
        font-size: 22px;
    }

.news-list-container {
    padding: 10px;
}

    .news-list-container .news-item {
        padding: 10px;
        margin-bottom: 25px;
        cursor: pointer;
    }

        .news-list-container .news-item .news-item-title {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 12px;
            color: #009a44;
            cursor: pointer;
        }

        .news-list-container .news-item.news-item-read .news-item-title {
            color: #88848D
        }

        .news-list-container .news-item .news-item-time {
            color: #B7B7B7;
        }

        .news-list-container .news-item .news-item-content {
            color: #8E8D94;
            margin-bottom: 10px;
        }
/* Home Session */
.hpage {
    padding-top: 70px;
    transition: all 0.2s
}

.hasSidebar .hpage {
    padding-left: 70px;
}

    .hasSidebar .hpage .container,
    .hasSidebar .header-inner {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.2s
}

.hasSidebar header {
    padding-left: 70px;
}

/* Sidebar */

.side-open .header-container .logo-container {
    display: none;
}

.hsidebar-nav {
    width: 70px;
    background-color: #2B2E3E;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    transition: all 0.2s;
}

.hsidebar-nav {
    display: none
}

.hasSidebar .hsidebar-nav {
    display: block;
}

.hsidebar {
    height: 100%;
}

.hsidebar-body {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.side-open .hsidebar-nav {
    width: 250px;
}

.hasSidebar .side-open .hpage, .hasSidebar .side-open header {
    padding-left: 250px;
}

@media (max-width: 767px) {
    .hasSidebar .header-container {
        padding-left: 70px;
    }

    .hpage, .side-open .hpage, header {
        padding-left: 0px;
    }

    .hasSidebar header, .hasSidebar .hpage {
        padding-left: 0px;
    }

    .hasSidebar .side-open .hpage, .hasSidebar .side-open header {
        padding-left: 0px;
    }

    .hsidebar-nav {
        bottom: unset;
        background-color: transparent;
    }

    .side-open .hsidebar-nav {
        background-color: #2B2E3E;
        bottom: 0;
    }

    .hsidebar-logo a img {
        width: 240px;
    }

    .hsidebar-body {
        display: none;
    }

    .side-open .hsidebar-body {
        display: block
    }
}

.hsidebar-logo {
    display: none;
}

    .hsidebar-logo a {
        text-decoration: none;
    }

        .hsidebar-logo a img {
            width: 150px;
        }

.side-open .hsidebar-logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hsidebar-header {
    height: 70px;
}

.hsidebar-logo-container {
    height: 100%;
    display: flex;
}

.hsidebar-toogle-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-open .hsidebar-toogle-container {
    padding: 15px;
    flex: unset;
}

.side-menu-container {
    color: #9e9c9c;
}

.side-menu-item {
    cursor: pointer;
}

    .side-menu-item:hover,
    .side-menu-item.side-menu-item-selected {
        background-color: #212431;
        color: #009A44;
    }

.side-menu-item-content {
    padding: 10px;
    display: flex;
    justify-content: center;
}

a.side-menu-item-content,
a.side-menu-item-content:hover {
    color: inherit;
    text-decoration: none;
}

.side-menu-item-content-icon {
    font-size: 24px;
    text-align: center;
}

.side-menu-item-content-text {
    display: none
}

.side-open .side-menu-item-content-icon {
    padding-left: 10px;
    width: 50px
}

.side-open .side-menu-item-content-text {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
}

/* Sidebar */

.hpage {
    background-color: #F7F7F7;
}

#toast-container > div {
    border-radius: 6px !important
}

.dropdown-menu.dropdown-menu-right {
    left: auto !important;
    margin-top: 0px !important;
}

.dropdown > .dropdown-menu.dropdown-menu-right:before,
.dropdown-toggle > .dropdown-menu.dropdown-menu-right:before,
.btn-group > .dropdown-menu.dropdown-menu-right:before {
    right: 9px;
    left: auto;
}

.dropdown > .dropdown-menu.dropdown-menu-right:after,
.dropdown-toggle > .dropdown-menu.dropdown-menu-right:after,
.btn-group > .dropdown-menu.dropdown-menu-right:after {
    right: 10px;
    left: auto;
}

table.dataTable {
    width: 100% !important
}

.btn-light {
    background-color: #fff;
    border: solid 1px #dcdcdc !important;
    border-radius: 4px !important;
}

.upload-file-zone {
    height: 250px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: #F6F6F6;
    border-radius: 8px;
    border: 1px solid #EAEDF2;
}

.upload-dragfile {
    text-align: center;
}

.modal .modal-header .close {
    background-image: url(/Assets/Img/remove-icon-small.png) !important;
}

.hpage-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 100000;
}

.hpage-loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(117, 117, 117, 0.4);
    font-size: 6vw;
}

.hpage-loading.loading {
    display: block
}

.file-drag-title {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 10px;
}

.btn-upload-file,
.btn.btn-hardie-light.btn-upload-file {
    font-size: 10px;
    color: #797979 !important;
}

.file-preview {
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 10px;
    color: #797979 !important;
}

.file-preview-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-preview .preview-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}

.file-preview .file-preview-name,
.file-preview .file-preview-size {
    position: relative
}

.hpage .login-form {
    align-items: baseline;
    padding-top: 100px;
}

.dropdown-menu li.divider {
    background: #f1f3f6;
    margin: 0;
}

#viewNewsModal {
    padding: 10px !important;
}

    #viewNewsModal .modal-dialog {
        width: 90%;
        height: 100%;
        margin: auto;
    }

        #viewNewsModal .modal-dialog .modal-content {
            height: 100%;
        }

            #viewNewsModal .modal-dialog .modal-content .modal-header {
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #viewNewsModal .modal-dialog .modal-content .modal-body {
                height: calc(100% - 50px);
            }

#newsContentContainer {
    height: 100%;
}

.modalIframeView {
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    #viewNewsModal .modal-dialog {
        width: 100%;
    }
}

.report-daterange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
}

.report-daterange-action{
    display: inline-block;
    margin-left: 5px;
}

.report-employees{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.report-employees .select2.select2-container .select2-selection{
    border-radius: 0;
    border: 1px solid #ccc;
}

.hpage .dataTables_wrapper .dataTables_processing {
    top: 30px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    border: none;
}

.hpage .dataTables_wrapper .dataTables_processing .datatable-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.hpage .dataTables_wrapper .dataTables_processing .datatable-spinner i.fa {
    font-size: 40px;
}