﻿/*Start css Sidebar*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 160px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    top: 0;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

#wrapper.active {
    padding-left: 150px;
}

    #wrapper.active #sidebar-wrapper {
        left: 150px;
    }

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 160px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

    .sidebar-nav li a {
        color: #999999;
        display: block;
        text-decoration: none;
    }

        .sidebar-nav li a:hover {
            color: #fff;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

#main_icon {
    float: right;
    padding-right: 30px;
    padding-top: 19px;
}

.sub_icon {
    float: right;
    padding-right: 35px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

    .content-header h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper {
        left: 70px;
    }

    #wrapper.active {
        padding-left: 150px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 150px;
            width: 150px;
            transition: all .4s ease 0s;
        }
}
/*End css Sidebar*/
/*Start css Header*/
.menu {
    background-color: black;
    border-bottom: 4px solid darkgray;
    width: 100%;
    height: 65px;
    padding: 0 10px;
    position: fixed;
    margin: 0px;
    z-index: 1;
    opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
    background-color : #04A3ED;
    color: white;
    font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
    font-size: 13px;
    color: white;
    padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
    background-color: #04A3ED;
}

.navbar-header > a
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}
.navbar-header > a:hover
{
    text-decoration: none;
    color: #04A3ED;
}
/*End css Header*/

/*Start css Body, PageHeader*/
body {
    margin-top: -40px;
}
.page-header {
    margin-top: -10px;
    height: 24px;
}
/*End css Body*/
/*Start css form*/
.form-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.body-form {
    background-color: #f2f2f2 !important;
}
/*End css form*/
.user-information {
    float: right;
    margin-right: 100px;
    padding-top: 5px;
    cursor: pointer;
    color: white;
    height: 100%;
}
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
    /*margin-right: 34px !important;*/
    margin: 4px 50px !important;
    background: #eef1f5 !important;
}
.user-avatar-container {
    height: 30px;
    width: 45px;
    border-radius: 100% !important;
    overflow: hidden;
    margin-bottom: 5px !important;
}
.avatar {
    height: 75%;
    margin: 5px;
    /*width: 100%;*/
}
.container-fluid {
    height: 100%;
}

.image-dashboard {
    height: 100%;
    width: 100%;
    margin-top: 16px;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}